<div class="post-list">
  <h2>blog</h2>
  <p>
    Learn about me / my values / my experiences. Comments are always welcome;
    feedback is a gift. I'm always looking for more reviewers, so let me know
    if you'd like to read my unreleased drafts.
  </p>
  {% for post in site.posts %}
    <ul>
      <li>
        <p class="post-listing">
          <!-- <span class="post-metadata">
            {{ post.date | date: "%B %-d, %Y" }} -
          </span> -->
          <a href="{{ post.url }}">{{ post.title }}</a>
          <span class="post-metadata">
            <!-- by {{ post.authors | join: ", " }} - [{{ post.tags | join: ", " }}] -->
          </span>
          <br>
          <span class="post-subtitle">
            {{ post.subtitle }}
          </span>
        </p>
      </li>
    </ul>
  {% endfor %}
</div>