<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
  <title>{{ page.title }} - Benjamin Lee</title>
  <meta name="description" content="{{ page.subtitle }}">
  <meta property="og:title" content="{{ page.title }} - Benjamin Lee">
  <meta property="og:site_name" content="benleejamin.com">
  <meta property="og:description" content="{{ page.subtitle }}">
  <meta property="og:image" content="https://benleejamin.com/assets/cover-images/{{ page.cover-image }}.webp">
  <meta property="og:url" content="https://benleejamin.com{{ page.url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
  <link rel="stylesheet" href="/style.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-91Q5CGS6T3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-91Q5CGS6T3');
  </script>
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
</head>
<body>
  <main>
    <a href="/" class="home-link">back to benleejamin</a>
    <div class="two-col grid-container">
      <img src="/assets/cover-images/{{ page.cover-image }}.webp" class="grid-item side-image">
      <div class="grid-item">
        <img src="/assets/cover-images/{{ page.cover-image }}.webp" class="top-image">
        <div class="post">
          <h1>{{ page.title }}</h1>
          <span class="post-subtitle">{{ page.subtitle }}</span>
          <br>
          <span class="post-metadata">
            {{ page.date | date: "%B %-d, %Y" }} by
            {{ page.authors | join: ", " }}
            -
            [{{ page.tags | join: ", " }}]
          </span>
          {{ content }}
        </div>
        <form action="https://formspree.io/f/mwkjdqqz" method="POST">
          <label>
            <textarea
              name="message"
              placeholder="thoughts/comments/critique"
              ></textarea>
          </label>
          <label>
            <input type="email" name="email" placeholder="email (if you so please)">
          </label>
          <button type="submit">send</button>
        </form>
      </div>
    </div>
    {% include post-list.html %}
    <a href="/" class="home-link">back to benleejamin</a>
  </main>
</body>
</html>
